<div class="jumbotron">
  <h1>LOL tuts</h1>
  <p>Read tutorials and ask questions</p>
  <p><%= link_to "Read", posts_path, class: "btn btn-primary btn-lg" %></p>
</div>

<div class="row intro-icons">
  <div class="col-md-4 col-sm-12 text-center">
    <p><%= icon 'book', class: 'intro-icon' %></p>
    <span class="intro-icon-label">Learn</span>
    <p class="intro-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </div>
  <div class="col-md-4 col-sm-12 text-center">
    <p><%= icon 'question', class: 'intro-icon' %></p>
    <span class="intro-icon-label">Ask</span>
    <p class="intro-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </div>
  <div class="col-md-4 col-sm-12 text-center">
    <p><%= icon 'leaf', class: 'intro-icon' %></p>
    <span class="intro-icon-label">Develop</span>
    <p class="intro-description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </div>
</div>
