<%= form_tag search_posts_path, method: :get, class: "navbar-form navbar-right" do %>
  <div class="form-group">
    <%= text_field_tag "q[title_or_body_cont]", nil, placeholder: "Search", class: "form-control" %>
  </div>
  <%= submit_tag "Search", class: "btn btn-info" %>
<% end %>
