<div>
  <div class="gray-box">
    <%= render "shared/recent_posts" %>
  </div>
  <div class="gray-box">
    <%= render "shared/recent_questions" %>
  </div>
  <div class="gray-box">
    <%= render "shared/tag_cloud" %>
  </div>
</div>
