.intro-icons {
  width: 100%;
  margin-top: 40px;

  .intro-icon, .intro-icon-label {
    color: #787878;
    margin: 30px;
  }

  .intro-icon {
    font-size: 75px;
  }

  .intro-icon-label {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .intro-description {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
  }

}

.fixed-stuff {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hover-stuff {
  margin-top: 100vh;
  background-color: white;
  box-shadow: 0 0 20px black;
}

.welcome {
  width: 100%;
  height: 100vh;
  background-image: image-url('home.jpg');
  background-position: center;
  background-size: cover;
  position: relative;

  .intro {
    position: absolute;
    padding: 10px;
    left: 50%;
    bottom: 25%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    min-width: 280px;
    max-width: 600px;

    .logo {
      font-size: 60px;
      color: #f9e110;
      margin-bottom: 20px;
    }

    .description {
      font-size: 17px;
      color: #eeeeee;
      margin-bottom: 20px;
    }

    .button {
      display: inline-block;
      color: #eaeaea;
      background: transparent;
      font-size: 18px;
      padding: 10px 20px;
      border: 1px solid #eaeaea;
      border-radius: 5px;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #787878;
        background: #eaeaea;
        text-decoration: none;
      }
    }
  }
}

.section {
  margin-bottom: 70px;
}

.black-section {
  background: #111;
  color: #fff;
  padding: 20px;
}

.categories {
  padding-top: 100px;
  font-family: 'EB Garamond', serif;

  .heading {
    font-size: 60px;
  }

  .link {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #f9e110;
    }
  }

  .tut {
    padding: 10px;

    img {
      max-width: 300px;
    }

    .timestamp {
      display: inline-block;
      margin-bottom: 5px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #cdcdcd;
    }

    .body {
      word-wrap: break-word;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 15px;
      color: #757575;
    }

    .more {
      color: #fff;
      text-decoration: none;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      &:hover {
        color: #f9e110;
      }
    }
  }
}

.member {
  .become-member {
    font-size: 20px;
    color: #555;
  }

  .signup-btn {
    display: inline-block;
    color: #b4a41c;
    border: 1px solid #b4a41c;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: #fff;
      background: #b4a41c;
    }
  }
}
