.fluid-avatar {
  max-width: 100%;
}

.reg-date {
  font-size: 0.9em;
  color: #787878;
}

.activity-list {
  list-style: none;
  padding: 0;

  li {
    margin-bottom: 13px;
  }

  .time {
    font-size: 0.9em;
    color: #787878;
  }
}
